<%- contentFor('body') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Profile Page</h1>
    <p class="lead">Quickly integrated profiles view. Represents login flow options for OpenID</p>
  </div>


  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Local</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><%= user.username %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= user._id %></li>
          <li><%= user.email %></li>
          <li><%= user.created %></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">logout</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Facebook</h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary">Connect</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Google</h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary">Connect</button>
      </div>
    </div>
  </div>


<%- contentFor('head') %>