<%- contentFor('body') %>

    <h2>Users</h2>
    <p>Registred users in api resources.</p>
    <p>
        <a class="btn btn-primary btn-sm" role="button" href="/user/add">Add new</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Create Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            <% users.forEach(function(user, index) { %>
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td><% user.role.forEach(function(user_role){ %>

                        <span class="badge badge-warning"><%= user_role.name %></span>
                        
                    <%}); %></td>
                    <td>
                            <%= user.created %>
                        </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="#" role="button" data-toggle="modal" data-target="#removeModal" data-removeaction="<%= user._id %>"
                            data-removetitle="<%= user.username %>">Remove</a>
                    </td>
                </tr>
                <% }); %>

        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalLabel">Remove User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete
                        <span id="for_remove"></span>?</p>

                    <form action="/user/remove" method="POST" id="removeClient">
                        <input type="hidden" name="userId">
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ConfirmRemove()">Confirm Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('#removeModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var Id = button.data('removeaction') // Extract info from data-* attributes
            var Title = button.data('removetitle')

            var modal = $(this)
            modal.find('#for_remove').text(Title)
            modal.find('.modal-title').text('Remove ' + Title)
            modal.find('.modal-body input').val(Id)

        })

        function ConfirmRemove() {
            $('.modal-body form').submit()
        }

    </script>

    <%- contentFor('head') %>